<template name="quiz2">

  <b>Question 1: A 'doe' is what kind of animal?</b>
  female deer

  <br><br>

  <b>Question 2: What is the name of an adult female horse?</b>
  Mare

  <br><br>

  <b>Question 3: Owls are far-sighted, meaning that anything within a few inches of their eyes can't be seen properly.</b>
  True

  <br><br>

  <b>Question 4: Bees are found on every continent of earth except for one, which is it?</b>
  Antarctica

  <br><br>

  <b>Question 5: What type of animal is the largest primate in the world?</b>
  Gorilla

  <br><br>

  <b>Question 6: Cats spend an average of 13-14 hours a day sleeping.</b>
  True

  <br><br>

  <b>Question 7: The crocodile species is believed to have been around for how long? 2 million years or 200 million years?</b>
  200 million years

  <br><br>

  <b>Question 8: Is a shark a fish or a mammal?</b>
  Fish

  <br><br>

  <b>Question 9: What is the name of the phobia that involves an abnormal fear of spiders?</b>
  Arachnophobia

  <br><br>

  <b>Question 10: How many pairs of wings does a bee have?</b>
  2

</template>