<template name="quiz1">
  <div id="main" class="col-sm-9">

  <b>Question 1: If the telephone company added one more digit to all the phone numbers in one area code, how many new phone numbers could potentially be added?</b>
  90,000,000

  <br><br>

  <b>Question 2: What company is the largest producer of computer software for the personal computer</b>
  Microsoft

  <br><br>

  <b>Question 3: Name the famous computer scientist who worked to break Nazi codes at Bletchley Park during WWII.</b>
  Alan Turing

  <br><br>

  <b>Question 4: Who created PERL in 1986?</b>
  Larry Wall

  <br><br>

  <b>Question 5: What apple media file format became the basis for MPEG-4 files?</b>
  QuickTime

  <br><br>

  <b>Question 6: What is Error 403 mean on the Internet?</b>
  Site Access Forbidden/Password Protected

  <br><br>

  <b>Question 7: Name the founders of Yahoo?</b>
  David Filo & Jerry Yang

  <br><br>

  <b>Question 8: Who wrote a BASIC version for the 8080 microprocessor, Altair, in 1975?</b>
  Bill Gates & Paul Allen

  <br><br>

  <b>Question 9: Who created the C++ programming language?</b>
  Bjarne Stroustrup

  <br><br>

  <b>Question 10: What is IEEE 1394 refer to?</b>
  Technical code for Firewire

    </div>

</template>