<template name="quiz2page">
  <body>

  <div class="container">
    <div class="page-header">
      <h1 align="center">Trivia Quiz</h1>
      <div align="left">
        {{ >loginButtons}}
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbardata">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbardata">
          <ul class="nav navbar-nav">
            <li><a href="\">Home</a></li>
            <li><a href="scorespage">Scores</a></li>
            <li><a href="quiz2-question.html">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="body" class="container">
    <div class="row row-eq-height">
      <div id="sidebar" class="col-sm-3">
        <p>Choose a Quiz:</p>
        <ul>
          <li><a href="quiz1page">Quiz 1</a></li>
          <li><a href="quiz2page">Quiz 2</a></li>
          <li><a href="quiz3page">Quiz 3</a></li>
        </ul>
      </div>
      <div id="main" class="col-sm-9">
        <form name="quiz1">
          <p>Question 1: Which of these mammals lays eggs?<br></p>
          <p><input type="radio" name="q1" value="echidna">echidna<br>
            <input type="radio" name="q1" value="bongo">bongo<br>
            <input type="radio" name="q1" value="kiwi">kiwi<br>
            <input type="radio" name="q1" value="southern right whale">southern right whale<br></p>
          <p>2. Which is the biggest species of shark?<br></p>
          <p><input type="radio" name="q2" value="great white shark">great white shark<br>
            <input type="radio" name="q2" value="hammerhead shark">hammerhead shark<br>
            <input type="radio" name="q2" value="whale shark">whale shark<br>
            <input type="radio" name="q2" value="basking shark">basking shark<br>
          </p>
          <p>3. What is the term for a young horse?<br></p>
          <p><input type="radio" name="q3" value="cub">cub<br>
            <input type="radio" name="q3" value="cygnet">cygnet<br>
            <input type="radio" name="q3" value="foal">foal<br>
            <input type="radio" name="q3" value="calf">calf<br>
          </p>
          <p>4. What is the most poisonous snake on the planet?<br></p>
          <p><input type="radio" name="q4" value="cobra">cobra<br>
            <input type="radio" name="q4" value="inland taipan">inland taipan<br>
            <input type="radio" name="q4" value="western diamondback rattlesnake">western diamondback rattlesnake<br>
            <input type="radio" name="q4" value="black mamba">black mamba<br>
          </p>
          <p>5. What is a distinguishing feature of a marsupial?<br></p>
          <p><input type="radio" name="q5" value="They change color to blend in with their environment.">They change color to blend in with their environment.<br>
            <input type="radio" name="q5" value="They live most of their lives in trees.">They live most of their lives in trees.<br>
            <input type="radio" name="q5" value="They have very long necks.">They have very long necks.<br>
            <input type="radio" name="q5" value="The carry their young in an external pouch.">The carry their young in an external pouch.<br>
          </p>
          <p>6. Which of these animals is NOT endangered?<br></p>
          <p><input type="radio" name="q6" value="red wolf">red wolf<br>
            <input type="radio" name="q6" value="sperm whale">sperm whale<br>
            <input type="radio" name="q6" value="capybara">capybara<br>
            <input type="radio" name="q6" value="jaguar">jaguar<br>
          </p>
          <p>7. What is the fastest animal on Earth?<br></p>
          <p><input type="radio" name="q7" value="cheetah">cheetah<br>
            <input type="radio" name="q7" value="peregrine falcon">peregrine falcon<br>
            <input type="radio" name="q7" value="leopard">leopard<br>
            <input type="radio" name="q7" value="hyena">hyena<br>
          </p>
          <p>8. Which animal could not survive in Africa?<br></p>
          <p><input type="radio" name="q8" value="hippopotamus">hippopotamus<br>
            <input type="radio" name="q8" value="tsetse fly">tsetse fly<br>
            <input type="radio" name="q8" value="wildcat">wildcat<br>
            <input type="radio" name="q8" value="giraffe">giraffe<br>
          </p>

          <p>9. Which of the following is NOT a characteristic of reptiles?<br></p>
          <p><input type="radio" name="q9" value="They are warm-blooded.">They are warm-blooded.<br>
            <input type="radio" name="q9" value="Most lay eggs.">Most lay eggs.<br>
            <input type="radio" name="q9" value="They have thick, scaly skin.">They have thick, scaly skin.<br>
            <input type="radio" name="q9" value="They breathe with lungs.">They breathe with lungs.<br>
          </p>
          <p>10. Which of these dinosaurs lived during the Jurassic Period?<br></p>
          <p><input type="radio" name="q10" value="Triceratops">Triceratops<br>
            <input type="radio" name="q10" value="Stegosaurus">Stegosaurus<br>
            <input type="radio" name="q10" value="Eoraptor">Eoraptor<br>
            <input type="radio" name="q10" value="Tyrannosaurus Rex">Tyrannosaurus Rex<br>
          </p>

          <input type="submit" id="submit"/>
          <input type="reset" value="Clear">
          Score = <input type=text size=15 name="percentage"><br>
        </form>
      </div>
    </div>
  </div>

  </body>

</template>


