<template name="quiz3">

  <b>Question 1: Which was the last feature film of screen legend Paul Newman, which was also the highest grossing movie of his career?</b>
  Cars

  <br><br>

  <b>Question 2: What is Captain Jack Sparrow's key catch-phrase in all the Pirates of the Caribbean films?</b>
  Savvy?

  <br><br>

  <b>Question 3: Which is the first Walt Disney animated classic, the first animated full-color movie to be produced?</b>
  Snow White and the Seven Dwarfs

  <br><br>

  <b>Question 4: What movie did the following quote appear in? "I'll get you, my pretty, and your little dog too!"</b>
  The Wizard of Oz

  <br><br>

  <b>Question 5: Who directed the movies "Jaws", "Schindler's List", and "Jurassic Park"?</b>
  Stephen Spielberg

  <br><br>

  <b>Question 6: Drew Barrymore, Cameron Diaz and Lucy Liu starred together in which action film?</b>
  Charlie's Angels

  <br><br>

  <b>Question 7: Which 1996 part-animated film featured basketball player Michael Jordan starring alongside Bugs Bunny?</b>
  Space Jam

  <br><br>

  <b>Question 8: Who played James Bond in "Live and Let Die"?</b>
  Roger Moore

  <br><br>

  <b>Question 9: What was the name of the boy in the Jungle Book?</b>
  Mowgli

  <br><br>

  <b>Question 10: In the film "Shrek", what is the name of Shrek's wife?</b>
  Fiona

</template>